.loaderAnimation{
    width: 150px;
    height: 150px;
}

.topFixedBanner{
    background-image: url('../image/banner.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.topContent{
    margin-top: 12rem;
}

.topTitle{
    font-family: 'Montserreat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}

.topSubTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
}

.serviceMainTitle{
    color: #0076e6;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserreat', sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.serviceName{
    margin-top: 1rem;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.servicsDes{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #2b2b2b;
}

.serviceCard{
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}

.serviceCard:hover{
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}

.navTitle{
    font-family: 'Montserreat', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.navTitle:hover{
    text-decoration: none;
}

.navTitleScroll{
    font-family: 'Montserreat', sans-serif;
    color: #0076e6 !important;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.navTitleScroll:hover{
    text-decoration: none;
}

.navBackground{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgba(00, 00, 00, 0.1) !important;
}

.navBackgroundScroll{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #ffffff !important;
    box-shadow: 0 0 6px 0 rgba(0, 115, 230, 0.3);
}

.navItem{
    text-decoration: none !important;
    font-size: 16px;
    font-family: "Montserreat", sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.navItemScroll{
    font-size: 16px;
    text-decoration: none;
    font-family: "Montserreat", sans-serif;
    font-weight: 400;
    color: #000000 !important;
}

.des{
    font-weight: 400;
    flood-color: #000000;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

.summaryBanner{
    background-image: url('../image/banner.jpg');
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.summaryBannerOverlay{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.summarySection{
    margin-top: 5rem;
}

.summaryHr{
    text-align: center;
}

.countNumber{
    color: #ffffff;
    font-family: "Montserreat", sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.countTitle{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.countSection{
    margin-top: 16%;
}

.cardTitle{
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}

.cardSubTitle{
    font-family: "Montserreat", sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

.iconBullet{
    color: #0076e6;
    font-size: 16px;
}

.workCard{
    margin-top: 14%;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
}

.projectCard{
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}

.projectCard:hover{
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}

.projectCardTitle{
    font-family: "Montserreat", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.projectCardDes{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.projectImg{
    width: 100%;
    height: 250px;
}

.courseImg{
    width: 100%;
    height: 150px;
}

.courseTitle{
    padding: 2px;
    font-family: "Montserreat", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.courseDes{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.courseDetails{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #0076e6;
    float: left;
}

.videoCard{
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
    padding: 6rem 3rem 6rem 3rem;
    background-color: #ffffff;
    margin: 50px auto;
}

.playButton{
    color: #0076e6;
    font-size: 48px;
    cursor: pointer;
}

.videoTitle{
    color: #0076e6;
    font-family: "Montserreat", sans-serif;
    font-size: 22px;
    font-weight: 600;

}

.videoDes{
    /* color: #0076e6; */
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.circleImg{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid #0076e6;
    border-radius: 50%;
}

.footerSection{
    margin-top: 5rem;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}

.socialLink{
    text-decoration: none;
    color: #0076e6;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.socialLink:hover{
    text-decoration: none;
    color: #070707;
    font-size: 14px;
    font-weight: 600;
}

.footerLink{
    text-decoration: none;
    color: #2b2b2b;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.footerLink:hover{
    text-decoration: none;
    color: #0076e6;
}

.copyrightSection{
    padding: 20px 20px 20px 20px;
    background-color: #0076e6;
}

.copyrightLink{
    color: #ffffff;
    font-family: 'Montserreat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.copyrightLink:hover{
    color: #000000;
    font-family: 'Montserreat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.topFixedPageBanner{
    background-image: url('../image/banner.jpg');
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topPageBannerOverlay{
    position: absolute;
    min-height: 300px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.topPageContent{
    margin-top: 10rem;
}

.topPageContentCourseDetails{
    margin-top: 7rem;
}

.coursePageFullTitle{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.coursePageSubTitle{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.coursePageDes{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.pageTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
}

.form-control:focus{
    border-radius: 2px !important;
    border-color: #0076e6 !important;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2) !important;
}

.testClassOnProjectDetails{
    max-width: 100%;
    height: 100%;
}

.link-style{
    color: #ffffff !important;
    text-decoration: none !important;
}

.link-style:hover{
    color: #ffffff !important;
    text-decoration: none !important;
}